/* Task Runtime */
.task-runtime {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(21, 29, 41, 0.88);
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  .task-item .task-log-table {
    .line {
      animation: fadeIn .3s;
      color: #cacaca;
      word-break: break-all;
      margin-bottom: 8px;
      font-size: 16px;
      white-space: pre-wrap;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
        &:hover {
          color: #ffffff;
        }
      }
    }
    [data-level="I"].line {
      color: #38a5ff;
    }
    [data-level="S"].line {
      color: #32f388;
    }
    [data-level="W"].line {
      color: #ffc761;
    }
    [data-level="E"].line {
      color: #ff4545;
    }
    .line > .tag {
      margin-right: 7px;
    }
  }
}
