/* Navbar Panel */
.navbar-panel {
  position: absolute;
  background: #FFF;
  width: 400px;
  height: 430px;
  z-index: 999;
  color: #757e91;
  word-break: break-all;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  
  &.show {
    display: block;
  }

  .panel-header .panel-title {
    padding: 20px 25px;
    text-align: center;
    font-size: 16px;
    /* border-bottom: 1px solid #efefef; */
    color: #2196f3;
    > i {
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}
