/* Dialog Layer */
.dialog-layer {
  position: absolute;
  display: flex;
  z-index: 1000;
  background-color: rgba(21, 101, 192, 0.11);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  .dialog-inner {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 15px 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
  }
  .dialog-title {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 30px 15px 30px;
    border-bottom: 0 solid #f6f6f6;
    font-size: 16px;
    color: #333;
    .right-btn {
      width: 25px;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: #03A9F4;
      }
      > i {
        line-height: 25px;
      }
    }
  }
  .dialog-content {
    position: relative;
    flex: 1 1 auto;
    padding: 10px 30px 10px 30px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #707070;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 150px;
    word-break: break-all;
  }
  .dialog-bottom {
    display: flex;
    padding: 15px 25px 0 25px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    color: #575757;
    .dialog-btn {
      color: #2196f3;
      font-weight: 500;
      cursor: pointer;
      border: 0;
      text-align: center;
      border-radius: 2px;
      padding: 6px 13px;
      &:hover {
        background-color: #f6f6f6;
      }
      &:not(first-child) {
        margin-left: 5px;
      }
    }
  }
}
