@font-face {
  font-family: SAOUI;
  src: url('../fonts/SAOUI.otf');
}

body, html {
  font-family: "Helvetica Neue", "PingFangSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #FFF;
  background-color: #282c34;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(197, 197, 197, 0.71);

  &:hover {
    background: rgba(197, 197, 197, 0.95);
  }
}

.app-main {
  border: 1px solid #333333;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  .app-page-wrap {
    position: relative;
    margin-top: 65px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 7px;
    height: calc(100vh - 65px - 1px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}