.update-manager {
  min-height: 50vh;
  * {
    transition: width 0.2s;
  }

  .update-manager-loading {
    width: 100%;
    height: 50vh;
    line-height: 50vh;
    text-align: center;
    .loading-css-icon {
      margin-right: 15px;
    }
  }

  .module-list-wrap {
    .action-bar {
      display: block;
      height: 40px;
      overflow: hidden;

      .update-status-text {
        display: inline-block;
        margin-left: 20px;
        vertical-align: sub;
        font-size: 12px;
      }

      .update-progress-bar-wrap {
        width: 100%;
        height: 4px;
        margin-top: 13px;
        border-radius: 50px;
        overflow: hidden;
        background: #f6f6f6;

        .update-progress-bar {
          width: 0%;
          height: 100%;
          transition: width 0.2s linear;
          background: #2196f3;
        }
      }
    }

    .update-note {
      padding: 0 10px;

      .update-note-title {
        font-size: 20px;
        margin-bottom: 4px;
      }
    }

    .module-list {
    }

    .module-item {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 10px 5px;
      border-radius: 3px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover {
        background-color: #f6f6f6;
      }

      .icon {
        margin-left: 10px;
        flex-basis: 40px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: #2196f3;
          font-size: 25px;
        }
      }

      .info {
        flex: 1;
        padding-left: 10px;
        .name {
          font-weight: bold;
          color: #2196f3;
          font-size: 16px;
          margin-bottom: 3px;
        }
        .desc {
          & > span {
            display: inline-block;
            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
        .marked-text {
          color: #2196f3;
          font-weight: bold;
        }
        .badge-box {
          display: block;
          margin-top: 2px;
          .badge {
            font-size: 12px;
            padding: 0px 10px;
            border-radius: 2px;
            display: inline-block;

            &:not(:last-child) {
              margin-right: 5px;
            }

            &.need {
              color: #fff;
              background: #32c787;
            }

            &.no-need {
              display: none;
            }
          }
        }
      }
    }
  }

  .update-btn {
    background: #2196f3;
    color: #fff;

    &:hover {
      background: #32c787;
    }

    i {
      margin-right: 4px;
    }
  }

  .update-result {
    padding: 20px;

    &.is-success .icon,
    &.is-success .status {
      color: #32c787;;
    }

    &:not(.is-success) .icon,
    &:not(.is-success) .status {
      color: #ff5652;
    }

    .icon {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 5em;
      margin-top: 10vh;
    }

    .status {
      text-align: center;
      display: block;
      font-size: 1.5em;
      font-weight: bold;
    }

    .desc {
      display: block;
      margin-top: 35px;
      font-size: 1em;
    }
  }
}
